<h1>New snippet</h1>



<div class="capture-ui rounded-box">

<%= render 'capture_form' %>

</div>

<%= link_to 'Back', snippets_path %>

<script type="text/javascript">
	var parent_url = decodeURIComponent(document.location.hash.replace(/^#/, ''));
	
	if (!!window.addEventListener)
		window.addEventListener('message', receiver, false);
	else
		window.attachEvent('onmessage', receiver);
		
	function receiver(e)
	{
		if (e.origin == parent_url)
		{
			var html = $(e.data);
			
			
			var target_visual = $('#uberText');
			target_visual.html(html);
			
			//resize large images temporarily
			html.find('img').each(function() {
			  var img = $(this);
			  var maxWidth = 500;
			  if (img.width() > maxWidth)
			  	img.css('width', '500px');
			});
			
			var target = $('#snippet_content');
			target.val(e.data);
		}
	}
	
	function resize($img) {
	    var max_size_w = 200;
	    var max_size_h = 200;
	    var h = $img.height();
	    var w = $img.width();
	    if (h > max_size_h) {
	        h = max_size_h;
	        w = Math.ceil($img.width() / $img.height() * max_size_h);
	    }
	    if (w > max_size_w) {
	        h = Math.ceil($img.height() / $img.width() * max_size_w);
	        w = max_size_w;
	    }
	    $img.css({ height: h, width: w });
	}
</script>