<h1>Snippets</h1>



<% @snippets.each do |snippet| %>

    <div class="box shadow">
		<div style="background: #cccccc; height: 25px; border-bottom: 1px solid black;">
			<table>
		    <tr>
		    <td><%= link_to 'Show', snippet %></td>
		    <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
		    <td><%= link_to 'Destroy', snippet, confirm: 'Are you sure?', method: :delete %></td>
			</tr>
			</table>
		</div>
		<div style="padding: 5px;">
			<%= raw(snippet.content) %>
		</div>
	</div>

	<br />
  
<% end %>


<br />


