<h1>BookMarklet</h1>
<p>UI Test Harness</p>
		<div id="markletContainer">
			<a href="javascript:(function(){document.home='<%= @url_base %>'; if(window.myBookmarklet!==undefined){myBookmarklet();}else{document.body.appendChild(document.createElement('script')).src='<%= @url_base %>/javascripts/uberframe.js?';}})();">Capture Text</a>
		</div>

<br />

<div id="textcontainer">
	<div class="question-text">
	<div class="formatted-document">
	<p><b>Read the following paragraph and answer the questions:<br><br> (1)Many people are concerned about the incredible growth of the fast food industry around the world. (2) New coffee shops and pizza places are opening up on every main street, and you can’t walk anywhere without sighting the famous McDonald’s Arch. (3) But fast food is good and also bad. (4) It’s up to us to decide whether we should eat it or not.
	<br>(1) Fast food developed as a solution for the working person, who had little time to cook during the day and wanted a cheap meal fast. (2) This is exactly what these franchises offer. (3) Fast food is conveniently low priced and can be prepared in less than 5 minutes. (4) In addition, fast food is tasty! Everybody likes a warm pizza or a juicy burger every once in a while. 
	<br>(1) But at the same time, fast food is bad for you. (2) Fast food is usually high in trans fat, which leads to obesity and heart disease. (3) Some recent studies are also trying to prove that fast food is addictive and cancerous. (4) It is very clear that fast food is unhealthy. (5) Fast food restaurants are sometimes also unclean, and health standards are not always maintained by their average teenage employees. (6) Would you want to eat fries that cause cancer, cooked by an employee who didn’t wash his hands? (7) This is why fast food is bad.
	<br>(1) Whether you like fast food or not, it is up to you. (2) But you should consider limiting your fast food intake, or eating healthier choices like salads and sandwiches. (3) If everyone takes care of his own eating habits, we will be living is a better-fed world.
	<br><br><u>Question</u>: Which of these sentence would be best inserted between sentences 3 and 4 in paragraph I?</b></p><b>
	</b></div><b>
	</b></div>
</div>