<% @users.each do |user| %>
<p>
	User: <%= link_to user.name, user %>
</p>
<% end %>

<style type="text/css">
  * { margin:0; padding:0; }
  .outer { display:none; }
  .outer div { position:absolute; background-color:rgb(255,0,0); z-index:65000; }
</style>



<script type="text/javascript">
	$(document).mousemove(function(e){
	      $('#status').html(e.pageX +', '+ e.pageY);
	   });
	
	
	/**
	 * This object encapsulates the elements and actions of the overlay.
	 */
	function Overlay(width, height, left, top) {

	    this.width = this.height = this.left = this.top = 0;

	    // outer parent
	    var outer = $("<div class='outer' />").appendTo("body");

	    // red lines (boxes)
	    var topbox    = $("<div />").css("height", 1).appendTo(outer);
	    var bottombox = $("<div />").css("height", 1).appendTo(outer);  
	    var leftbox   = $("<div />").css("width",  1).appendTo(outer);
	    var rightbox  = $("<div />").css("width",  1).appendTo(outer);

	    // don't count it as a real element
	    outer.mouseover(function(){ 
	        outer.hide(); 
	    });


	    /**
	     * Public interface
	     */

	    this.resize = function resize(width, height, left, top) {
	      if (width != null)
	        this.width = width;
	      if (height != null)
	        this.height = height;
	      if (left != null)
	        this.left = left;
	      if (top != null)
	        this.top = top;      
	    };

	    this.show = function show() {
	       outer.show();
	    };

	    this.hide = function hide() {
	       outer.hide();
	    };     

	    this.render = function render(width, height, left, top) {

	        this.resize(width, height, left, top);

	        topbox.css({
	          top:   this.top,
	          left:  this.left,
	          width: this.width
	        });
	        bottombox.css({
	          top:   this.top + this.height - 1,
	          left:  this.left,
	          width: this.width
	        });
	        leftbox.css({
	          top:    this.top, 
	          left:   this.left, 
	          height: this.height
	        });
	        rightbox.css({
	          top:    this.top, 
	          left:   this.left + this.width - 1, 
	          height: this.height  
	        });

	        this.show();
	    };      

	    // initial rendering [optional]
	    this.render(width, height, left, top);
	}
	
	
	
	$.fn.selectText = function() {
	    var target = $(this);
		var node = target.get(0);
		if (!!node) {
	    	if (document.body.createTextRange) {
		        var range = document.body.createTextRange();
		        range.moveToElementText(node);
		        range.select();
		    } else if (window.getSelection) {
		        var selection = window.getSelection();        
		        var range = document.createRange();
		        range.selectNodeContents(node);
		        selection.removeAllRanges();
		        selection.addRange(range);
		    }
		}
	}
	
	$(document).ready(function(){
		// test - http://jsbin.com/upema4/15/edit#javascript,html
		var box = new Overlay(200, 200, 400, 20);

		$("body").mouseover(function(e){
			var el = $(e.target);
			var offset = el.offset();
			box.render(el.outerWidth(), el.outerHeight(), offset.left, offset.top);
			el.selectText();
		});
		

	});
</script>
<div>
	<h1>H1</h1>
	<h1 id="selection"></h1>
</div>

<div id="content">
    <p>move your mouse!</p>
    <div style="background:#f1f1f1;">asdfasdf</div>
    <div style="background:#eee;">
	  sdfasd
      <div  style="background:green;">
		sdfsdf
        <div  style="background:green;">
      		asdf
      </div>
      </div>
    </div>
    <div style="background:#ddd;">sdfsdf</div>
    <div style="background:#bbb;">sdfsdfdsf</div>
    <div style="background:#999;">dddd</div>
  </div>



<h2 id="status">
0, 0
</h2>
<%= image_tag('name_cloud.jpg') %>