
<style>
	.rc-ribbon {
		
	}
	.rc-ribbon li {
		display: inline-block;
		list-style-type: none;
		margin-right: 20px;
	}
	.rc-selected-tool
	{
		border: 2px dashed black;
		background: #CCCCCC;
		padding: 2px 2px 2px 2px;
		display: inline-block;
	}
</style>

<ul class="rc-ribbon">
	<li>
		<div class='rc-selected-tool'>
			select
		</div>
	</li>
	<li>
		<div>
			capture
		</div>
	</li>
	<li>
		<div>
			reset
		</div>
	</li>
	<li>
		<div>
			targeting
		</div>
	</li>
	<li>
		<div>
			X
		</div>
	</li>
</ul>

