
<div id="snippet_rc">
	<style>
		.rc-ribbon {
		
		}
		.rc-ribbon li {
			display: inline-block;
			list-style-type: none;
			margin-right: 20px;
		}
		.rc-selected-tool
		{
			border: 2px dashed black;
			background: #CCCCCC;
			padding: 2px 2px 2px 2px;
			display: inline-block;
		}
	</style>
	<ul class="rc-ribbon">
		<li>
			<div>
				<a data-command="capture" href="#">Capture</a>
			</div>
		</li>
		<li>
			<div>
				<a data-command="targeting" href="#">Target Content</a>
			</div>
		</li>
		<li>
			<div>
				<a data-command="close" href="#">Close</a>
			</div>
		</li>
		<li>
			<div>
				<a data-command="exit" href="#">Exit</a>
			</div>
		</li>
		<li>
			<div>
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
			</div>
		</li>
	</ul>

</div>
<script>
	$(function(){
		
		var triggers = $('.rc-ribbon').find('[data-command]');
		triggers.click(function(evt){
			evt.preventDefault();
			triggers.each(function(){ $(this).parent().removeClass('rc-selected-tool'); });
			var trigger = $(this);
			trigger.parent().addClass('rc-selected-tool');
			var command = trigger.data('command');
			run(command);
		});
		function run(command){
			//window.parent.postMessage("message", '*');
			window.parent.postMessage(command, '*');
		}
	});
</script>
