<% provide(:title, 'Home') %>

<%= image_tag('EigenGen.jpg', :alt => 'Headline Image') %>

<h3>Beta Users</h3>
<% @users.each do |user| %>
<p>
	User: <%= link_to user.name, user %>
</p>
<% end %>






