<% provide(:title, 'Home') %>
<div>
	<br />
	<h1 class="shadow_title" >With</h1>
	<br />
</div>

<!-- <%= link_to('Public Timeline', :controller => :snippets) %> -->

<!-- BEGIN: LISTINGS -->
<ul class="shadow-curl">
	<li style="padding: 10px 10px 10px 10px">
		<a href="http://singularityhub.com/2012/12/13/singularity-hub-straight-to-your-inbox-2/" class="thmb">
			<img width="100%" height="220" src="http://singularityhub.com/wp-content/uploads/2012/02/Optimized-newsletter.jpg" class="thmb wp-post-image" alt="Straight to the Inbox!" />
		</a>
		<h3>
			<a href="http://singularityhub.com/2012/12/13/singularity-hub-straight-to-your-inbox-2/">Singularity Hub Straight To Your Inbox</a>
		</h3>
	    <div class="metawrap">
	        <p class="meta">Written By: <a href="http://singularityhub.com/author/admin/">Walter Whitman</a> | Posted: 12/13/12</p>
	        <div class="adminbadge">
	        	<a href="#">jholder</a>
	        </div>
	    </div>
	</li>
	<li style="width: 20px"></li>
	<li style="padding: 10px 10px 10px 10px">
		<a href="http://singularityhub.com/2012/12/13/singularity-hub-straight-to-your-inbox-2/" class="thmb">
			<img width="100%" height="220" src="http://singularityhub.com/wp-content/uploads/2012/02/Optimized-newsletter.jpg" class="thmb wp-post-image" alt="Straight to the Inbox!" />
		</a>
		<h3>
			<a href="http://singularityhub.com/2012/12/13/singularity-hub-straight-to-your-inbox-2/">Singularity Hub Straight To Your Inbox</a>
		</h3>
	    <div class="metawrap">
	        <p class="meta">Written By: <a href="http://singularityhub.com/author/admin/">Walter Whitman</a> | Posted: 12/13/12</p>
	        <div class="adminbadge">
	        	<a href="#">jholder</a>
	        </div>
	    </div>
	</li>
</ul>


<div class="clearfix"></div>



<ul class="mini-listing shadow-curl">
    <li style="padding: 10px 10px 10px 10px">
        <a href="http://singularityhub.com/2013/03/04/silicon-valley-billionaires-eclipse-nobel-prize-send-33-million-to-unsuspecting-scientists/" class="thmb"><img width="150" height="150" src="http://singularityhub.com/wp-content/uploads/2013/02/SH-68_2-150x150.jpg" class="thmb wp-post-image" alt="SH 68_#2"></a>                                
		<h3><a href="http://singularityhub.com/2013/03/04/silicon-valley-billionaires-eclipse-nobel-prize-send-33-million-to-unsuspecting-scientists/">Silicon Valley Billionaires Eclipse Nobel Prize, Send $33 Million to Unsuspecting Scientists</a></h3>
		<div class="metawrap">
		<p class="meta">By: <a href="http://singularityhub.com/author/jdorrier/" title="Posts by Jason Dorrier" rel="author">Jason Dorrier</a><br>03/4/13</p>
		<div class="adminbadge"><a href="#">Author Type</a></div>
		</div>
	</li>
    <li style="padding: 10px 10px 10px 10px">
        <a href="http://singularityhub.com/2013/03/02/mediterranean-diet-protects-against-cardiovascular-disease-and-stroke/" class="thmb"><img width="150" height="150" src="http://singularityhub.com/wp-content/uploads/2013/03/dietA-150x150.jpg" class="thmb wp-post-image" alt="dietA"></a>                                
		<h3><a href="http://singularityhub.com/2013/03/02/mediterranean-diet-protects-against-cardiovascular-disease-and-stroke/">Mediterranean Diet Protects Against Cardiovascular Disease And Stroke</a></h3>
		<div class="metawrap">
		<p class="meta">By: <a href="http://singularityhub.com/author/pmurray/" title="Posts by Peter Murray" rel="author">Peter Murray</a><br>03/2/13</p>
		<div class="adminbadge"><a href="#">Author Type</a></div>
		</div>
	</li>
    <li style="padding: 10px 10px 10px 10px">
        <a href="http://singularityhub.com/2013/03/01/ceo-of-educational-robot-company-robots-belong-in-the-classroom/" class="thmb"><img width="150" height="150" src="http://singularityhub.com/wp-content/uploads/2013/02/Mobot-competition-150x150.jpg" class="thmb wp-post-image" alt="Mobot-competition"></a>                                
		<h3><a href="http://singularityhub.com/2013/03/01/ceo-of-educational-robot-company-robots-belong-in-the-classroom/">CEO Of Educational Robot Company: “Robots Belong In The Classroom”</a></h3>
		<div class="metawrap">
		<p class="meta">By: <a href="http://singularityhub.com/author/dhill/" title="Posts by David J. Hill" rel="author">David J. Hill</a><br>03/1/13</p>
		<div class="adminbadge"><a href="#">Author Type</a></div>
		</div>
	</li>
    <li style="padding: 10px 10px 10px 10px">
        <a href="http://singularityhub.com/2013/02/28/3d-printing-on-the-frontlines-army-deploying-2-8m-mobile-fabrication-labs/" class="thmb"><img width="150" height="150" src="http://singularityhub.com/wp-content/uploads/2013/01/ELM-150x150.jpg" class="thmb wp-post-image" alt="ELM"></a>                                
		<h3><a href="http://singularityhub.com/2013/02/28/3d-printing-on-the-frontlines-army-deploying-2-8m-mobile-fabrication-labs/">3D Printing On The Frontlines — Army Deploying $2.8M Mobile Fabrication Labs</a></h3>
		<div class="metawrap">
		<p class="meta">By: <a href="http://singularityhub.com/author/dhill/" title="Posts by David J. Hill" rel="author">David J. Hill</a><br>02/28/13</p>
		<div class="adminbadge"><a href="#">Author Type</a></div>
		</div>
	</li>
</ul>
<!-- END: LISTINGS -->

<div class="clearfix"></div>

<h2>Beta Users</h2>
<% @users.each do |user| %>
<h4>
	<%= link_to "#{user.name}", "/snippets?user=#{user.email}" %>
	<!-- <%= link_to user.name, user %> -->
</h4>
<% end %>






