<% provide(:title, 'Home') %>

<h2>Beta Users</h2>
<% @users.each do |user| %>
<h4>
	<%= link_to "#{user.name}", "/snippets?user=#{user.email}" %>
	<!-- <%= link_to user.name, user %> -->
</h4>
<% end %>






