
.rounded-box {
	-webkit-border-radius: 10px;
	     -moz-border-radius: 10px;
	          border-radius: 10px;
}
.capture-ui{
	background-color: #cccccc;
}
.capture-container {
	margin: 6px 6px 3px 6px;
	background-color: #FFFFFF;
	display: inline-block;
	padding: 5px 5px 5px 5px;
}
.capture-info {
	margin: 3px 6px 6px 6px;
	background-color: #FFFFFF;
	padding: 5px 5px 5px 5px;
}
.source-info {
	margin: 3px 6px 6px 6px;
	background-color: #FFFFFF;
	padding: 5px 5px 5px 5px;
}
.metadata-info {
	margin: 3px 6px 6px 6px;
	background-color: #FFFFFF;
	padding: 5px 5px 5px 5px;
}


.inset {
   -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

.box {
	background-color: #ffffff;
	border: 2px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.box-image {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.box p {
	color: #666;
	font-size: 12px;
	margin: 5px 3px 3px 5px;

}

/* drop shadow */
.shadow {
	-moz-box-shadow: 3px 3px 4px #999;
	-webkit-box-shadow: 3px 3px 4px #999;
	box-shadow: 3px 3px 4px #999;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
}


